services:
  chat:
    build:
      context: ./chat
      dockerfile: Dockerfile
    ports:
      - "5010:5010"
    env_file:
      - ./chat/.env
    volumes:
      - ./chat:/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5009:5009"
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules

  game:
    build:
      context: ./game
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./game:/app
      - /app/node_modules

  database:
    image: postgres:18
    ports:
      - "5433:5432"
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    volumes:
      - "postgres_data2:/var/lib/postgresql/18/docker"
    restart: always

volumes:
  postgres_data2:
    name: postgres_data2

networks:
  postgres:
    driver: bridge