version: '3.8'

services:
  chat:
    build:
      context: ./chat
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - ./chat/.env
    volumes:
      - ./chat:/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules

  game:
    build:
      context: ./game
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./game:/app
      - /app/node_modules
